.DropFiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 160px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px; 
}