.FlexNormal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.Pointer{
    cursor: pointer;
}
div.Pointer > input{
    cursor: pointer;
}
div.Pointer > label{
    cursor: pointer;
}

.AutoColumnButtons{
    display: flex;
    justify-content: center;
}

.TextCursor{
    cursor: text;
    o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.ProgressBar{
    height: 15px;
}

.WideInfoBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Login{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Hori{
    display: flex;
    flex-direction: row;
}

.HoriCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Vert{
    display: flex;
    flex-direction: column;
}

.Help{
    color: #94baf1;
    align-items: center;
    cursor: pointer;
}
.Help:hover{
    color: #5592ee;
}


.Overflow{
    overflow: auto;
    width: 100%;
    height: 100%;
}

.Linker{
    color: #0d6efd;
    cursor: pointer;
}

.NavClickable{
    color: #94baf1;
    cursor: pointer;
    text-decoration: underline;
}

.NavClickable:hover{
    color: #5592ee;
}

.OctopartOffers{
    padding: 30px;
    max-width: none;
}

.SmallText{
    width: 75px;
    height: 34px;
}

.AddNewItem{
    color: white;
    background-color: black;
}

.AddNewItem:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
}


td.MpnHeader{
    background-color: #94baf1;
}

.MPNRequest{
    display: flex;
    justify-content: center;
}

.MPNRequest input{
    width: auto;
}