.FlexNormal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.AutoColumnButtons{
    display: flex;
    justify-content: center;
}

.ProgressBar{
    height: 15px;
}

.WideInfoBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Login{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Hori{
    display: flex;
    flex-direction: row;
}

.Vert{
    display: flex;
    flex-direction: column;
}

.Help{
    color: #94baf1;
    align-items: center;
    cursor: pointer;
}
.Help:hover{
    color: #5592ee;
}


.Overflow{
    overflow: auto;
    width: 100%;
    height: 100%;
}

.Linker{
    color: #0d6efd;
    cursor: pointer;
}

.NavClickable{
    color: #94baf1;
    cursor: pointer;
    text-decoration: underline;
}

.NavClickable:hover{
    color: #5592ee;
}