.ColumnFlexBox{
    display: flex;
    flex-direction: column;
}

.FlexNormal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.TableHeading{
    background: rgb(202, 205, 207);
    position: sticky;
    top: 0;
    z-index: 9;
}

.Pointer{
    cursor: pointer;
}
div.Pointer > input{
    cursor: pointer;
}
div.Pointer > label{
    cursor: pointer;
}

.AutoColumnButtons{
    display: flex;
    justify-content: center;
}

.TextCursor{
    cursor: text;
    o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.ProgressBar{
    height: 15px;
}

.WideInfoBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Login{
    display: flex;
    justify-content: center;
    width: 100%;
}

.Hori{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.HoriCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Vert{
    display: flex;
    flex-direction: column;
}

.Help{
    color: #94baf1;
    align-items: center;
    cursor: pointer;
}
.Help:hover{
    color: #5592ee;
}


.Overflow{
    overflow: auto;
    width: 100%;
    height: 100%;
}

.Linker{
    color: #0d6efd;
    cursor: pointer;
}

.NavClickable{
    color: #94baf1;
    cursor: pointer;
    text-decoration: underline;
}

.NavClickable:hover{
    color: #5592ee;
}

.OctopartOffers{
    padding: 30px;
    max-width: none;
}

.SmallText{
    width: 75px;
    height: 34px;
}

.AddNewItem{
    color: white;
    background-color: black;
}

.AddNewItem:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
}


td.MpnHeader{
    background-color: #94baf1;
}

.MPNRequest{
    display: flex;
    justify-content: center;
}

.MPNRequest input{
    width: auto;
}

.SelectedManufacturer{
    background-color: #94baf1;
}

.ManufacturerItem{
    cursor: pointer;
}

.ManufacturerItem:active{
    background-color: #94baf1;
}

.NewManufacturerItem{
    cursor: pointer;
    background-color: #35dc43;
}

.ManufacturerItem:active{
    background-color: #94baf1;
}

.ChosenManufacturerButton{
    color: #0d6efd;
    background-color: #fff;
}

.ChosenManufacturerButton:hover{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}


.DropFiles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 160px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px; 
}

.DropFilesSmall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 80px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px; 
}

.Quote:hover{
    background-color: rgb(221, 218, 218);
}

.Scrollable{
    overflow:scroll;
    width:100%;
    height:100%;
}


td.HL{
    background-color: #94baf1;
}

td.HLC{
    background-color: #f1c694;
}

td.NHL{
    background-color: #f19494;
}

tr.HLC{
    background-color: #f1c694;
}

tr.NHL{
    background-color: #f19494;
}

.Primary{
    background-color: "#0d6efd"
}

table.SmallTable{
    font-size: small;
}

td.SmallCell{
    padding: 0.1rem 0.1rem;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.FixedCell{
    max-height: 40px;
    max-width: 40px;
    overflow: hidden;
}

td.RowSelector{
    background-color: #c8cfc9;
    border-right-width: 5px;
}

td.RowSelector:hover{
    background-color: #a6b1a8;
}

tr.RowSelector:hover{
    background-color: #cdd6cf;
}

td.RowSelector:active{
    background-color: #60e278;
}

a#Grey{
    background-color: #dde6de;
}

tr.HighlightedRow{
    background-color: #a3c3f1;
}

.WideModal{
    max-width: 80%;
    overflow: initial;
}

.modal{
    height: 100vh;
}

.Select {
    cursor: pointer; 
}

.Flag {
    width: 30px;
    height: 20px;
}

.BottomButtons{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-top: grey 3px solid;
}

.ToggleItem{
    cursor: pointer;
    background-color: white;
}

.ToggleItem:active{
    background-color: #0d6efd;
    color: white;
}

.StaticTable{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow-y: auto;
}

.StickyColumn{
    position: sticky;
    left: 0px;
}

.VerticalForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    max-width: 500px;
}