.Offer{
    display: flex;
    flex-direction: column;
}

.TextBox{
    border: none;
}

.VerticalAlign{
    vertical-align: middle;
}

td.NormalCell{
    background: rgb(229, 231, 198);
}

td.HighlightedCell{
    background: rgb(101, 255, 87);
}

td.SelectedCell{
    background: rgb(139, 164, 247);
}

.Lock:checked[type=checkbox]{
    background-image: url('../lock-128.png');
}