.Hori{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.FlexNormal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.Select {
    cursor: pointer; 
}

.Flag {
    width: 30px;
    height: 20px;
}