.TableHeading{
    background: rgb(202, 205, 207);
    position: sticky;
    top: 0;
}

.MainTable {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
}

.PageInterface {
    display: flex;
    justify-content: center;
}

.Select{
    cursor: pointer;
}

.OverflowTable {
    /*overflow: auto;*/
}

.CellHeading {
    font-weight: bold;
}

.PricingTable {
    font-size: 12px;
}

td.PricingCell {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

tr.PricingHighlight {
    background:rgb(160, 236, 163)
}

td.ButtonCell {
    height: 15px;
    background: blue;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
}

td.NoPadding {
    padding:0;
}

td.NormalOffer {
    background: rgb(229, 231, 198);
}

td.BestPriceOffer {
    background: rgb(101, 255, 87);
}

.QuantitiesBox {
    width:75px;
    height:38px;
}