.TableHeading{
    background: rgb(202, 205, 207);
    position: sticky;
    top: 0;
}

.MainTable {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: auto;
}

.PageInterface {
    display: flex;
    justify-content: center;
}

.Select{
    cursor: pointer;
}

.OverflowTable {
    /*overflow: auto;*/
}

.CellHeading {
    font-weight: bold;
}

.PricingTable {
    font-size: 12px;
}

td.PricingCell {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

td.NoPadding {
    padding: 0;
}