.Ver {
    display: flex;
    flex-direction: column;
}

.Flow {
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.Hori{
    display: flex;
    flex-direction: row;
}

.SmallText{
    width: 75px;
    height: 34px;
}

.FlexNormal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.Flex2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.Radios{
    display: flex;
    align-items: center;
}

.Pointer{
    cursor: pointer;
}
div.Pointer > input{
    cursor: pointer;
}
div.Pointer > label{
    cursor: pointer;
}