.Ver {
    display: flex;
    flex-direction: column;
}

.FlexNormal {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}
.IconNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:5px;
}
.IconNav2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:5px;
}

.Radios{
    display: flex;
    align-items: center;
}